.student-form {
    text-align: center;
  }
  .student-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: cadetblue;
    border-radius: 10px;
  }
  
  .list {
    border: 1px solid black;
  }
